<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Verbapp HU</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body class="text-center">

    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Verbapp HU</strong>
          </a>
          <div>
            <a href="/words/en_hu" class="text-white" style="margin-right: 20px;">EN -> HU</a>
            <a href="/words/hu_en" class="text-white">HU -> EN</a>
          </div>
        </div>
      </div>
    </header>

    
    <main role="main" class="container" style="max-width:400px; margin: 5% auto;">
      
       <h1>Add a verb!</h1>
        
        <form class="form-signin" method="post">
          <input type="text" name="verb" id="verb" class="form-control" placeholder="..." required autofocus style="margin:20px 0;">
          {% if not get %}
              {% if success %}
                    <p style="{color:#bb0000;">Verb added. <a href="words/en_hu">Study</a></p>
              {% else %}
                    <p style="color:#bb0000;">{{msg}}</p>
              {% endif %}
          {% endif %}
          <button class="btn btn-lg btn-success btn-block" type="submit" style="margin:20px 0;">Add</button>
        </form>
        
    </main>

    {% for flash in get_flashed_messages() %}
    <p>{{ flash }}</p>
    {% endfor %}
    
    <footer class="footer">
      <div class="container">
        <hr>
        <span class="text-muted">Verbs Downloaded: {{ downloaded_verbs|length }}</span>
        <hr>
        <div class="row">
          {% for verb in downloaded_verbs|sort %}
          <div class="text-muted col-lg-1 col-md-4 col-sm-12">{{verb}}</div>
          {% endfor %}
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
    
    </script>
  </body>
</html>

