<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Verbapp HU</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body class="text-center">

    <form action="/words/hu_en" method="post">
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Verbapp HU</strong>
          </a>
          <div>
            <a href="add-verb" class="text-white" style="margin-right: 20px;">Add Verb</a>
            <a href="/words/en_hu" class="text-white">EN -> HU</a>
          </div>
        </div>
      </div>
    </header>

    
    <main role="main" class="container" style="max-width:400px; margin: 5% auto;">
      
       <h1>{{ to_translate }}</h1>
        
        <div class="form-signin">
          <input type="text" id="translation" class="form-control" placeholder="..." autofocus style="margin:20px 0;" value="">
          <h2 id="solution" style="display:none;">{{solution}} {% if " definite" in tense %}it{% endif %}</h2>
          <p id="base-verb" style="display:none;">{{selected_verb}} ({{verb_translation}}, {{tense}})</p>
          <button type="button" class="btn btn-lg btn-secondary btn-block" style="margin:20px 0;" onclick="document.getElementById('base-verb').style.display='block';">Base verb & tense</button>
          <button id="show" type="button" class="btn btn-lg btn-warning btn-block" style="margin:20px 0;" onclick="document.getElementById('solution').style.display='block';document.getElementById('base-verb').style.display='block';document.getElementById('next').style.display='block';document.getElementById('show').style.display='none';">Solution</button>
          <input id="next" style="display:none;" class="btn btn-lg btn-primary btn-block" type="submit" style="margin:20px 0;" value="Next">
        </div>
        
    </main>
    
    <footer class="footer">
      <div class="container">
        <hr>
        <div class="text-muted">Available Tenses:</div>
        <hr>
        {% for tense in available_tenses %}
        <input type="checkbox" class="text-muted" name="{{tense}}" {% if tense in checked_tenses %}checked{% endif %}></input>
        <label>{{tense}}</label><br>
        {% endfor %}
      </div>
    </footer>

    </form>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
    
    </script>
  </body>
</html>

